* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{   
    background-image: url(https://images8.alphacoders.com/661/661972.png)
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffdada;
    border-color: black;
    border-style:groove;
}



@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}